
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/css/Bienvenida.css" rel="stylesheet" type="text/css" />
<br />
<nav aria-label="breadcrumb ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Inicio</li>
        </ol>
</nav>

@*<div class="container-fluid">
    <br />
    <div class="col-md-4">
        <ol class="breadcrumb">
            <li class="active">Inicio</li>
        </ol>
    </div>
</div>*@

@*//Presentacio*@

<div class="jumbotron" style="background-color:#7ba0a4" id="bienvenida">
    <center>
        <h2> Bienvenidos al sistema de inventario para Papelería "Thiago" </h2>
        <p class="lead">
            Sistema desarrollado para el proceso de control y movimientos de productos
            que registran en la papelería.

            Creado por: Anchundia Tomy, Delgado Gemberth, Mendoza Gaby y Vélez Andree
        </p>
        <img src="~/Content/Imagenes/logoInventario.png" height="300" alt="imagen de inventario" />
    </center>
</div>